body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*--------------------------------------------------------------
# Scrollbar
--------------------------------------------------------------*/

::-webkit-scrollbar {
  width: 7px;
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 5px;
}
